<style type="text/css">


<!--

body{
	width: 980px;
	background-color: #eef;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

h1{
	font-size: 10px;

	float: none;
	text-align: left;
}


label{
	color: #8c7044;
	font-size: 20px;
	font-family: comic sans ms;
}

input[type="text"]{
	border: 1px solid #8c7044;
	height: 35px;
	width: 450px;
	padding: 4px 10px 6px;

}

input[type="text"]:hover{
	border: 1px solid #32C9CB;

	
}

textarea{
	border: 1px solid #8c7044;
	height: 200px;
	width: 450px;
	padding: 4px 10px 6px;

}

textarea:hover{
	border: 1px solid #32C9CB;

	
}

input[type="submit"]{
	color: #feffe9;
	background-color:  green;
	font-size: 20px;
	float: left;


}

input[type="submit"]:hover{
	background-color: #32C9CB;

.Style25 {
	color: #333333;
	font-size: 14px;
}
.Style28 {font-size: 14px}
-->
</style>

<style>
.cc-window,.cc-revoke{position:fixed;overflow:hidden;box-sizing:border-box;box-shadow:0 0 16px rgba(0,0,0,.4);font-family:Helvetica,Calibri,Arial,sans-serif;font-size:13px;line-height:1.5em;display:flex;flex-wrap:nowrap;z-index:9999;}.cc-window.cc-static{position:static;}.cc-window.cc-floating{padding:2em;max-width:24em;flex-direction:column;}.cc-window.cc-banner{padding:1em 1.8em;width:100%;flex-direction:row;}.cc-revoke{padding:.5em;}.cc-revoke:hover{text-decoration:underline;}.cc-header{font-size:18px;font-weight:bold;}.cc-btn,.cc-link,.cc-close,.cc-revoke{cursor:pointer;}.cc-link{opacity:.8;display:inline-block;padding:.2em;text-decoration:underline;}.cc-link:hover{opacity:1;}.cc-link:active,.cc-link:visited{color:initial;}.cc-btn{display:block;padding:.3em .8em;font-size:.9em;font-weight:bold;border-width:2px;border-style:solid;text-align:center;white-space:nowrap;}.cc-banner .cc-btn:last-child{min-width:140px;}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent;}.cc-highlight .cc-btn:first-child:hover,.cc-highlight .cc-btn:first-child:focus{background-color:transparent;text-decoration:underline;}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75;}.cc-close:hover,.cc-close:focus{opacity:1;}.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em;}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em;}.cc-revoke.cc-left{left:3em;right:unset;}.cc-revoke.cc-right{right:3em;left:unset;}.cc-top{top:1em;}.cc-left{left:1em;}.cc-right{right:1em;}.cc-bottom{bottom:1em;}.cc-floating>.cc-link{margin-bottom:1em;}.cc-floating .cc-message{display:block;margin-bottom:1em;}.cc-window.cc-floating .cc-compliance{flex:1 0 auto;}.cc-window.cc-banner{align-items:center;}.cc-banner.cc-top{left:0;right:0;top:0;}.cc-banner.cc-bottom{left:0;right:0;bottom:0;}.cc-banner .cc-message{flex:1;}.cc-compliance{display:flex;align-items:center;align-content:space-between;}.cc-compliance>.cc-btn{flex:1;}.cc-btn+.cc-btn{margin-left:.5em;}.cc-window{opacity:1;-webkit-transition:opacity 1s ease;-moz-transition:opacity 1s ease;-o-transition:opacity 1s ease;transition:opacity 1s ease;}.cc-window.cc-invisible{opacity:0;}.cc-animate.cc-revoke{-webkit-transition:transform 1s ease;-moz-transition:transform 1s ease;-o-transition:transform 1s ease;transition:transform 1s ease;}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em);}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em);}.cc-animate.cc-revoke.cc-active.cc-top{transform:translateY(0);}.cc-animate.cc-revoke.cc-active.cc-bottom{transform:translateY(0);}.cc-revoke:hover{transform:translateY(0);}.cc-grower{max-height:0;overflow:hidden;-webkit-transition:max-height 1s;-moz-transition:max-height 1s;-o-transition:max-height 1s;transition:max-height 1s;}@media print{.cc-window,.cc-revoke{display:none;}}@media screen and (max-width:900px){.cc-btn{white-space:normal;}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0;}.cc-window.cc-bottom{bottom:0;}.cc-window.cc-banner,.cc-window.cc-right,.cc-window.cc-left{left:0;right:0;}.cc-window.cc-banner{flex-direction:column;}.cc-window.cc-banner .cc-compliance{flex:1;}.cc-window.cc-floating{max-width:none;}.cc-window .cc-message{margin-bottom:1em;}.cc-window.cc-banner{align-items:unset;}}.cc-floating.cc-theme-classic{padding:1.2em;}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;flex:none;}.cc-theme-classic .cc-btn{border-radius:5px;}.cc-theme-classic .cc-btn:last-child{min-width:140px;}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block;}
.Style21 {color: #006532}
.Style22 {color: #006532; font-size: 1.4em; }
.Style23 {color: #33333}
.Style24 {
	color: #333333;
	font-size: 14px;
}
.Style25 {
	color: #333333;
	font-size: 12px;
}

</style>
