@font-face {
    font-family: 'NewsCycleRegular';
    src: url('custom/fonts/NewsCycle-Regular-webfont.eot');
    src: url('custom/fonts/NewsCycle-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('custom/fonts/NewsCycle-Regular-webfont.woff') format('woff'),
         url('custom/fonts/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('custom/fonts/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, table {
	color:#525252;
	font-size: 12px;
    font-family: Arial, Sans-Serif;
}
a {
	color:#008000;
	text-decoration:none;
}
a:hover, a:active {
	color:#525252;
}
h1 {
	font-family:'NewsCycleRegular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#008000;
	font-size:1.7em;
	font-weight:normal;
	padding:0px;
	margin:20px 0px 30px 0px;
	text-align:left;
}

h1.small {
	font-family:'NewsCycleRegular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#008000;
	font-size:1.4em;
	font-weight:normal;
	margin:15px 0px 0px 0px;
	text-transform:uppercase;
}

h2, .h2style {
	font-family:'NewsCycleRegular', Arial, Helvetica, sans-serif;
	font-size:1.3em;
	text-transform:uppercase;
	font-weight:normal;
	margin:0px 0px 10px 0px;
	padding:0px;
	text-align:left;
}

h3 {
	font-family:'NewsCycleRegular', Arial, Helvetica, sans-serif;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:normal;
	margin:0px 0px 10px 0px;
	padding:0px;
	text-align:left;
}

h4 {
	padding:0px 0px 10px 0px;
	margin:0px;
	font-size:1em;
	text-transform:uppercase;
}

hr {
	color:#e6e6e6;
	background-color:#e6e6e6;
	height:1px;
	border-width:0px;
	margin:20px 0px;
}


	